<% if @article.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @article.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end%>